extends ./layout.pug
block cuerpo
    section
        p.temas Marcha Verde
        p.temas Odebrecht
        p.temas Tucanos
        p.temas OMSA
        p.temas Oisoe
        p.temas Inapa
        p.temas CORDE
        p.temas RENOVE
        p.temas Todos
        