doctype html
html(lang='es-DO')
    head
        meta(charset='UTF-8')
        title #{title}
        link(rel='stylesheet' href='css/styles.css')
    body
        header
            nav
                ul
                    li
                        a(href='/') HOME
                    li
                        a(href='#') Best Player's
                    li
                        a(href='#') Contacto
                    li
                        a(href='#') miUsuario
        block cuerpo